
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PaymentViewModel

<h1>Insert Coins</h1>
<div class="container col-8">
    <form method="post" asp-action="Pay">
        @for(var i=0; i<Model.Currencies.Count; i++)
        {
            <div class="row">
                <div class="col-6">
                    <input type="hidden" asp-for="@Model.Currencies[i].Value" />
                    <span>@((Model.Currencies[i].Value/100.0m).ToString("0.00"))€</span>
                </div>
                <div class="col-6">
                    <input type="number" asp-for="@Model.Currencies[i].Count" class="form-control" />
                    <span asp-validation-for="@Model.Currencies[i].Count" class="text-danger" ></span>
                </div>
            </div>
        }
        <div class="row mt-2">
            <div class="col-6"></div>
            <div class="col-6"><input type="submit" class="btn btn-primary btn-lg" value="Pay" /></div>
        </div>
    </form>
</div>

